/*
 * General
 */
 .weberson-block-section {
    width: 100%;
}

/*
 * Table
 */

.form-table{
    padding: 0;
    margin: 0;
    width: 100%;
}

.weberson-list-table {
    border: 1px solid #dadada;

    th {
        padding-inline: 15px;
        border-bottom: 1px solid #dadada;
    }

    td {
        padding-inline: 15px;
        border-bottom: 1px solid #dadada;
    }

    tr {
        &:nth-child(even) {
            background: #e4e4e4;
        }

        &:nth-child(odd) {
            background: #FFFFFF;
        }
    }
}
